<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>

        <% for(i=0; i < chats.length; i++) { %>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Time (sec)</th>
                </tr>
                <% for(x=0; x < chats[i].Conversation.length; x++) { %>
                <tr>
                    <th><%= chats[i].Conversation[x].sender %></th>
                    <th><%= chats[i].Conversation[x].message %></th>
                    <th><%= Math.round(100 * ((chats[i].Conversation[x].timeCreated - chats[i].creationTime)/1000))/100 %></th>
                </tr>
                <% } %>
            </table>
        <% } %>

    </div>
  </body>
</html>
