<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
        <p>Below is the consent form for the AIMHTPC study</p>

    </div>
    <div class="consenttext">
        <ul>
            <li>To participate in this study you will need to print and fill this form below</li>
            <li>Click the pop-out button in the top right corner to open this form in a new tab to print or save</li>
            <li>You will then need to fill out the form at some point in the future and send it to <strong>mattwoicik@gmail.com</strong> to recieve compensation for your participation</li>
            <li>You can email it after, just make sure to download the form now.</li>
            <li>Click the button below the form to email the completed form to <strong>mattwoicik@gmail.com</strong> now, if you are ready</li>
        </ul>
        <br>
        <iframe src="https://drive.google.com/file/d/0B5evfL1HeQJiaVEtMXZobW5PbnM/preview" width="640" height="480"></iframe>
        <br>
        <br>
        <br>
    <div class="styledbutton" id="emailconsent">
        <!-- To add more "mailto:first@mail.com; second@mail.com; third@mail.com" -->
        <a href="mailto:mattwoicik@gmail.com?subject=Consent Form AIMHTPC&body=Here is my consent form to participate in the AIMHTPC Study" target="_blank"><button>Email Signed Consent Form</button></a>
        <p>Once you submit this form complete the following below</p>
        <a href="/scenario"><button>Proceed</button></a>
    </div>
  </body>
</html>