<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/consentform.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
    </div>
    <div class="consenttext">
        <ul>
            <li>To participate in this study, you will need to agree to the conditions of this consent form below.</li>
            <li>You can click the pop-out button in the top right corner to open this form in a new tab and save a copy if you’d like.</li>
<!--             <li>Click the pop-out button in the top right corner to open this form in a new tab to print or save.</li>
            <li>You will then need to fill out the form at some point in the future and send it to <strong>mattwoicik@gmail.com</strong> to recieve compensation for your participation.</li>
            <li>You can email it after you finish your assigned tasks, just make sure to download the form now then.</li>
            <li>Click the button below the form to email the completed form to <strong>mattwoicik@gmail.com</strong> now, if you are ready.</li> -->
        </ul>
        <br>
        <iframe src="https://drive.google.com/file/d/0B8HIgas6Gkh-UE1DSlhoOEVhQ28/preview" width="640" height="480"></iframe>
        <br>
        <br>
        <br>
    <div class="styledbutton" id="emailconsent">
        <!-- To add more "mailto:first@mail.com; second@mail.com; third@mail.com" -->
<!--         <a href="mailto:mattwoicik@gmail.com?subject=Consent Form AIMHTPC&body=Here is my consent form to participate in the AIMHTPC Study" target="_blank"><button>Email Signed Consent Form</button></a> -->
        <!-- <p>Once you submit this form complete the following below</p> -->
        <p class="memo">Click the check box to agree and then proceed.</p>
        <input type="checkbox" id="consentcheck">I understand the procedures described above.  I agree to participate in this study.  I can download and print a copy of the consent form if I choose to do so.  If I have any questions regarding the study, I will contact the investigators.<br>
        <!-- <a href="/scenario"><button id="consentsigned">Proceed</button></a> -->
        <button id="consentsigned">Proceed</button>
        <p id="agreeconsent">Please check the box agreeing to these terms to proceed</p>
    </div>
  </body>
</html>