<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="Login">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %> Chat System</p>
    </div>
  </body>
</html>
