<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/homeajax.js"></script>
  </head>
  <body>
    <div class="loginhome">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %> Chat System</p>

        <ul class="homeoptions">
            <li id="signuptrigger">Sign Up</li>
            <li id="logintrigger">Login</li>
        </ul>

        <div id="signupform" class="enterform">
            <ul>
                <li><input type="text" placeholder="Username" name="username" class="inputinfo" id="inputusername" maxlength="35"></li>
                <li><input type="password" placeholder="Password" name="password" class ="inputinfo" id="inputpassword" maxlength="40"></li>
                <li><input type="password" placeholder="Re-enter Password" name="password" class ="inputinfo" id="inputrepassword" maxlength="40"></li>
                <li><button id="signup" class="submithome">Sign Up</button></li>

                <li class="error" id="notmatchingpassword">- Passwords do not match</li>
                <li class="error" id="usernameinuse">- That username already has an account</li>
                <li class="error" id="fillallsections1">- Please fill out all sections</li>
            </ul>
        </div>

        <div id="loginform" class="enterform">
            <ul>
                <li><input type="text" placeholder="Username" name="username" class="inputinfo" id="inputusernamelogin" maxlength="30"></li>
                <li><input type="password" placeholder="Password" name="password" class ="inputinfo" id="inputpasswordlogin" maxlength="40"></li>
                <li><button id="login" class="submithome">Login</button></li>
                
                <li class="error" id="invalidusernamepassword">- Invalid username or password</li>
                <li class="error" id="fillallsections2">- Please fill out all sections</li>
            </ul>
        </div>

    </div>
  </body>
</html>
