<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
        <p>Hi, welcome to this study!</p>

    </div>
    <div class="introtext">
        <p align="justify">In this study you are going to assume the role of an emergency responder. You will collaborate with a teammate, who you will be paired with, to come up with a <strong>plan</strong> for the dilemma that you are faced with.</p>
        <div>
        <p>In order to complete the study and receive compensation, you <strong>must</strong>:</p>
        <ol>
            <li>Agree to the consent form.</li>
            <li>Read the scenario description.</li>
            <li>Engage in a text chat with a teammate and form a plan (20 minute max).</li>
            <h3>After Your Planning Session</h3>
            <li>Report the plan you and your teammate agreed to.</li>
            <li>Complete a post-study questionnaire.</li>
            <li>Complete and email a signed "Payment for Human Subject Testing Form."</li>
        </ol>
        <p><strong>You must have cookies enabled to take part in this study</strong></p>
        </div>
    </div>

    <div class="styledbutton" id="timewarning">
      <a href="/consentform"><button>Proceed</button></a>
    </div>
  </body>
</html>











