<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
        <p>Hi <%= user.firstname %>, welcome to the AIMHTPC study</p>

    </div>
    <div class="introtext">
        <p>In this study you are going to assume the role of an emergency responder. You will collaborate with a teammate, who you will be paired with, to come up with a <strong>plan</strong> for the dilemma that you are faced with.</p>
        <div>
        <p>In order to complete the study and receive compensation, you <strong>must</strong>:</p>
        <ul>
            <li>Chat with your teammate to come up with a plan</li>
            <li>Report your plan</li>
            <li>Fill out post chat questionnaire</li>
            <li>Email in signed Payment for Human Subject Testing Form</li>
        </ul>
        </div>
    </div>

    <div class="styledbutton" id="timewarning">
      <a href="/consentform"><button>Proceed</button></a>
    </div>
  </body>
</html>











