<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/loginhome.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
<!--         <p>You are succesfully logged in, <%= user.firstname %>. <br> -->
        Please click below to join the chat room. </p>
    </div>
    <div class="counttracker">
        <p>Reading Scenario: <span id="prepspan"></span></p>
        <p>Ready to Begin: <span id="readyspan"></span></p>
    </div>
    <div class="styledbutton" id="joinroomsection">
        <button>Join Chat Room</button>
        <p id="joinqueue">You have been added to the queue and will join a chat room shortly.</p>
    </div>
    <% if (user.admin) { %>
    <div class="styledbutton" id="adminSection">
        <a href="/admin"><button>Admin Page</button></a>
    </div>
    <% } %>
  </body>
</html>