<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/loginhome.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %> Chat System</p>
        <p>You are succesfully logged in <%= user.firstname %>!</p>
    </div>
    <div class="joinchat">
        <button>Join Chat Room</button>
        <p id="joinqueue">You have been added to the queue and will join a chat room shortly</p>
    </div>
  </body>
</html>