<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/cookies.js"></script>
    <script src="/javascripts/loginhome.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
        Please click below to join the chat room. </p>
    </div>
<!--     <div class="counttracker">
        <p>Reading Scenario: <span id="prepspan"></span></p>
        <p>Ready to Begin: <span id="readyspan"></span></p>
    </div> -->
    <div class="styledbutton" id="joinroomsection">
        <div class="enterform">
            <ul>
                <li><input type="text" placeholder="Name (optional)" name="name" class="inputinfo" id="inputname" maxlength="35"></li>
                <li><input type="text" placeholder="User ID" name="firstname" class="inputinfo" id="inputid" maxlength="100"></li>
                <li><input type="text" placeholder="Room ID" name="firstname" class="inputinfo" id="inputroom" maxlength="100"></li>

                <li class="error" id="incomplete">- Please fill out User ID and Room ID with your credentials given</li>
                <li class="error" id="noroom">- This userID or room ID does not correspond to a room</li>
                <li class="error" id="chatused">- This chat room has already been used</li>
                <li class="error" id="iferror">If you believe this is an error email Mattwoicik@gmail.com</li>
            </ul>
        </div>
        <button>Join Chat Room</button>
        <p id="joinqueue">You have been added to the queue and will join a chat room shortly.</p>
    </div>
  </body>
</html>