<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/messaging.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1 class="chattitle"><%= title %></h1>
<!--         <p>You have succesfully joined a chat with <%= user.firstname %>!</p> -->

    </div>
    <table style="width:100%">
        <tr>
            <td class="chatcol">
                <div class="chatsection">
                    <h3 id="timer">Chat expires in <span id="timeLeft"></span></h3>
                    <div class="chat">
                        <ul class="messages" id='messages'>
                        </ul>
                        <div class="typing">Other user is typing. . .</div>
                        <div id="entermessage">
                            <form action="">
                                <input id="m" placeholder="Enter Message" autocomplete="off" /><button id="send">Send</button>
                            </form>
                        </div>
                    </div>
                    <h4>Tasks:</h4>
                    <ul>
                        <li>Drop medical packages to:
                            <ul>
                                <li>P1: Police - A middle aged man who has valiantly served Agrodo for 20 years.</li>
                                <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                                <li>P3: Soldier - A man who fight bravely for the nation of Agordo to afford to care for his parents.</li>
                                <li>P4: Mayor - The mayor of Agordo's sole city, he has served for two decades.</li>
                            </ul>
                        </li>
                        <li>Intercept Enemy UAVs</li>
                        <li>Surveil Regions</li>
                    </ul>
                </div>
            </td>
            <td class="infocol">
                <div class='infosection'>
                    <h3><strong>Information:</strong></h3>
                    <table>
                        <tr>
                            <td>Fuel Capacity:</td>
                            <td>20 units (initially full)</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of moving a tile (left, right, up, down):</td>
                            <td>1 unit</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of surveilling a region:</td>
                            <td>2 units</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of dropping of a package:</td>
                            <td>1 unit</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of intercepting an enemy UAV:</td>
                            <td>3 units</td>
                        </td>
                        <tr>
                            <td>Package Load Capacity:</td>
                            <td>2 packages (starts with 2 on-board)</td>
                        </tr>
                        <tr>
                            <td>Must go back to main base to recharge</td>
                            <td>(you recharge for “free” instantaneously)</td>
                        </tr>
                        <tr>
                            <td>Must go to package center to reload packages</td>
                            <td>(you reload for “free” instantaneously)</td>
                        </tr>
                    </table>
                </div>
                <img src="images/map.jpg">
            </td>
        </tr>
    </table>

    <!-- Bottom buttons -->
    <div class="messageBottom" id="closeChatSection">
        <button id="opencloseChat">CloseChat</button>
        <p>Please only close the chat if you are completely finished. Both users must close the chat to have it finish prematurely.</p>
    </div>
<!--     <div class="messageBottom" id="beginSurvey">
        <p>Please fill out the survery below and email in your consent form to <strong>mattwoicik@gmail.com</strong> to recieve compensation if you have not done so already. Thank you for participating!</p>
        <a href="https://goo.gl/forms/UMMX8mKzoNw3wtBc2" target="_blank"><button id="returnHome">Fill out Survery</button></a>
    </div> -->
    <div class="messageBottom" id="planSubmit">
        <p>Now please navigate to the next page to submit your final plan</p>
        <a href="/submitplan"><button>Proceed</button></a>
    </div>

<!--     <div class="scenariotext buffer">
        <h1>Additional Info:</h1>
        <h4>Tasks:</h4>
        <ul>
            <li>Drop medical packages to:
                <ul>
                    <li>P1: Police - A middle aged man who has valiantly served Agrodo for 20 years.</li>
                    <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                    <li>P3: Soldier - A man who fight bravely for the nation of Agordo to afford to care for his parents.</li>
                    <li>P4: Mayor - The mayor of Agordo's sole city, he has served for two decades.</li>
                </ul>
            </li>
            <li>Intercept Enemy UAVs</li>
            <li>Surveil Regions</li>
        </ul>
        <h4>Other info:</h4>
        <ul>
            <li>Must go back to main base to recharge (recharge for “free” instantaneously)</li>
            <li>Must go to package center to reload packages (reload for “free” instantaneously)</li>
        </ul>
    </div> -->

    <!-- The popups that the user will get(not really pop ups, modals) -->
    <div class="useractionpopup" id="timewarning">
      <div>
        <span class="closebox">&times;</span>
        <h1>5 Minute Warning</h1>
        <p class="levelinfo">Warning, you have 5 minutes or less remaining for this conversation.</p>
      </div>
    </div>
    <div class="useractionpopup" id="closechatpop">
      <div>
        <span class="closebox">&times;</span>
        <h1>Warning</h1>
        <p class="levelinfo">Warning, are you sure you want to close the chat? Make sure you have concluded the task at hand.</p>
        <button id="closeChat">Close Chat</button>
        <button class="closebox">Cancel</button>
      </div>
    </div>
  </body>
</html>











