<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/messaging.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
<!--         <p>You have succesfully joined a chat with <%= user.firstname %>!</p> -->

    </div>
    <div class="chat">
        <ul id="messages">
        </ul>
        <div id="entermessage">
            <form action="">
                <input id="m" autocomplete="off" /><button id="send">Send</button>
            </form>
        </div>
    </div>
  </body>
</html>