<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
        <p>You will be given the scenario that you will be facing</p>
    </div>
    <div class="scenariotext">
        <h2>The Scenario You Will Face</h2>
        <div class="scenarioinfo">
            <h3>DESCRIPTION:</h3>
            <p>In the nation of Agordo there has been an earthquake coupled with a war that both simultaneously occured! (What an unfortunate coincidence, I know). Many were injured due to the earthquake, and there are also areas in need of both surveillance and interception of enemy unmanned aerial vehicles (UAVs).Your job as an emergency responder with a UAV at your command, is to form a plan in transporting packages to the medics assisting injured, surveil these regions, and to intercept UAVs.</p>
            <h4>Goal:</h4>
            <p>Prioritize and come up with a <span class="red">plan to resolve at least 4 tasks under 30 steps</span> (the order of the tasks is up to you)</p>
<!--             <p><span class="red">Prioritize based on patients’ health first</span> and then form plans factoring in transport times and road conditions.</p> -->
            <h4>Tasks:</h4>
                <ul>
                    <li>Drop medical packages to:
                        <ul>
                            <li>P1: Police - A middle aged man with high cholestrol, due to his high donut diet, however he is a valiant officer hard at work to keep his people safe. A model officer that is loved by the people of Agordo.</li>
                            <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                            <li>P3: Soldier - A man who has fought valiently for the nation of Agordo through thick and thin. He once took a bullet by standing in front of a civilian caught in mid fire.</li>
                            <li>P4: Mayor - The mayor of Agordo's sole city, he has served for two decades and done great work to improve the school systems by increasing fuding for them.</li>
                        </ul>
                    </li>
                    <li>Intercept Enemy UAVs</li>
                    <li>Surveil Regions</li>
                </ul>
            <p>Discuss plans for what you wish to do in what order <strong>one at a time.</strong>  There may be patients, places to surveil, and .  Don’t worry; they will be scheduled to be safely transported by the next emergency responder.</p>

            <h3>SCENARIO MAP:</h3>
            <img src="images/map.jpg">

            <h3>YOUR UAV CAPABILITIES:</h3>
<!--             <ul>
                <li>Info 1</li>
                <li>Info 2</li>
                <li>Info 3</li>
            </ul> -->
            <table>
                <tr>
                    <td>Fuel Capacity:</td>
                    <td>20 units</td>
                </tr>
                <tr>
                    <td>Package Load Capacity:</td>
                    <td>2 packages (start with 2 packages)</td>
                </tr>
                <tr>
                    <td>Cost of moving a tile (left, right, up, down):</td>
                    <td>1 unit</td>
                </tr>
                <tr>
                    <td>Cost of surveilling a region:</td>
                    <td>2 units</td>
                </tr>
                <tr>
                    <td>Cost of dropping of a package:</td>
                    <td>1 unit</td>
                </tr>
                <tr>
                    <td>Cost of intercepting enemy UAV:</td>
                    <td>3 units</td>
                </td>
            </table>

            <p>Other info:</p>
            <ul>
                <li>Must go back to main base to recharge (recharge for “free” instantaneously)</li>
                <li>Must go to package center to reload packages (reload for “free” instantaneously)</li>
            </ul>

<!--             <h3>HANDOUT:</h3>
            <h4>List of injured: <em>(identical information between you and your partner)</em></h4>
            <p>A table</p>
            <p>A table</p>
            <p>A table</p>
            <h4>Resource: Transports</h4>
            <p>A table</p>
            <p>A table</p>
            <h4>Resource: Crews</h4>
            <p>A table</p>
            <p>A table</p>
            <br>
            <br>
            <h3>Instructions</h3>
            <ul>
                <li>Info 1</li>
                <li>Info 2</li>
                <li>Info 3</li>
            </ul> -->
        </div>
    </div>
    <div class="styledbutton" id="scenariobutton">
        <a href="/loginhome"><button>Proceed</button></a>
    </div>
  </body>
</html>