<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
        <p>You will be given the scenario that you will be facing</p>
    </div>
    <div class="scenariotext">
        <h2>The Scenario You Will Face</h2>
        <div class="scenarioinfo">
            <h3>DESCRIPTION:</h3>
            <p>In the nation of Agordo there has been an earthquake coupled with a war that both simultaneously occurred!  Several people have been injured due to the earthquake, and also there are areas in need of either surveillance or interception of enemy unmanned aerial vehicles (UAVs). Your job as an emergency responder, with a UAV at your command, is to discuss with your teammate and form a plan to resolve as many as tasks you can under the time constraint.</p>
            <h4>Goal:</h4>
            <p>Prioritize and come up with a <span class="red">plan to resolve at least 4 tasks under 30 steps</span> (the order of the tasks is determined by you)</p>
            <h4>Tasks (total of 8):</h4>
            <ul>
                <li>Drop medical packages to:
                    <ul>
                        <li>P1: Police - A middle aged man who has valiantly served Agrodo for 20 years.</li>
                        <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                        <li>P3: Soldier - A man who fight bravely for the nation of Agordo to afford to care for his parents.</li>
                        <li>P4: Mayor - The mayor of Agordo's sole city, he has served for two decades.</li>
                    </ul>
                </li>
                <li>Intercept Enemy UAVs
                    <ul>
                        <li>Enemy UAV1</li>
                        <li>Enemy UAV2</li>
                    </ul>
                </li>
                <li>Surveil Regions
                    <ul>
                        <li>Region 1</li>
                        <li>Region 2</li>
                    </ul>
                </li>
            </ul>
            <p>Discuss plans for what you wish to do in what order <strong>one at a time.</strong> Keep in mind that there is no assurance that those not saved now will be able to be save later given the shortage of Agordo's manpower in these crises.<!--   There may be patients, places to surveil, and .  Don’t worry; they will be scheduled to be safely transported by the next emergency responder.</p> --></p>

            <h3>SCENARIO MAP:</h3>
            <img src="images/map.jpg">

            <h3>YOUR UAV CAPABILITIES:</h3>
            <table>
                <tr>
                    <td>Fuel Capacity:</td>
                    <td>20 units (initially full)</td>
                </tr>
                <tr>
                    <td>Fuel cost of moving a tile (left, right, up, down):</td>
                    <td>1 unit</td>
                </tr>
                <tr>
                    <td>Fuel cost of surveilling a region:</td>
                    <td>2 units</td>
                </tr>
                <tr>
                    <td>Fuel cost of dropping of a package:</td>
                    <td>1 unit</td>
                </tr>
                <tr>
                    <td>Fuel cost of intercepting an enemy UAV:</td>
                    <td>3 units</td>
                </td>
                <tr>
                    <td>Package Load Capacity:</td>
                    <td>2 packages (starts with 2 on-board)</td>
                </tr>
            </table>

            <p><strong>For example</strong>, going from main base to Region 1 and surveilling it would cost:<br>
            4 (fuel cost from main base to region 1) + 2 (surveil cost) = 6 total units</p>


            <p>Other info:</p>
            <ul>
                <li>Must go back to main base to recharge (you recharge for “free” instantaneously)</li>
                <li>Must go to package center to reload packages (you reload for “free” instantaneously)</li>
            </ul>
        </div>
    </div>
    <div class="styledbutton" id="scenariobutton">
        <a href="/loginhome"><button>Proceed</button></a>
    </div>
  </body>
</html>