<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/cookies.js"></script>
    <script src="/javascripts/scenario.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
    </div>
    <div class="timing">
        <p>Time Remaining: <span id="timeLeft"></span></p>
    </div>
    <div class="scenariotext">
        <h2>Scenario Description</h2>
        <div class="scenarioinfo">
            <p>In the nation of Agordo there has been an earthquake coupled with a war.  Several people have been injured due to the earthquake, and  there are areas in need of either surveillance or interception of enemy unmanned aerial vehicles (UAVs). Your job as an emergency responder, with a UAV at your command, is to form a plan to resolve as many as tasks you can under the resource constraint.</p>
            <h3>Goal:</h3>
            <p>Prioritize and come up with a <span class="red">plan to resolve as many tasks as you can using no more than <strong>30</strong> units of fuel</span> (the order of the tasks is determined by you and your teammate). Discuss and arrive at a plan for what you wish to do in what order. Keep in mind that there is no assurance that those not saved now will be able to be saved later. </p>
            <h3>Tasks (total of 8):</h3>
            <ul>
                <li>Drop medical packages to:
                    <ul>
                        <li>P1: Police - A middle aged man served Agordo for 20 years.</li>
                        <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                        <li>P3: Soldier - A man who fight bravely for the nation.</li>
                        <li>P4: Mayor - The mayor of Agordo's capital.</li> 
                    </ul>
                </li>
                <li>Intercept Enemy UAVs - Preparing to attack innocent civilians
                    <ul>
                        <li>Enemy UAV1</li>
                        <li>Enemy UAV2</li>
                    </ul>
                </li>
                <li>Surveil Regions - Bombs were recently dropped; surveil to see if there are survivors
                    <ul>
                        <li>Region 1</li>
                        <li>Region 2</li>
                    </ul>
                </li>
            </ul>
            <br>
            <h3>Scenario Map:</h3>
            <img src="images/map.jpg">

            <h3>Your UAV Information:</h3>
            <table>
                <tr>
                    <td class="left">Fuel Capacity:</td>
                    <td class="left">20 units (initially full)</td>
                </tr>
                <tr>
                    <td class="left">Fuel cost of moving a tile (left, right, up, down):</td>
                    <td class="left">1 unit</td>
                </tr>
                <tr>
                    <td class="left">Fuel cost of surveilling a region:</td>
                    <td class="left">2 units</td>
                </tr>
                <tr>
                    <td class="left">Fuel cost of dropping of a package:</td>
                    <td class="left">1 unit</td>
                </tr>
                <tr>
                    <td class="left">Fuel cost of intercepting an enemy UAV:</td>
                    <td class="left">3 units</td>
                </td>
                <tr>
                    <td class="left">Package Load Capacity:</td>
                    <td class="left">2 packages (starts with 2 on-board)</td>
                </tr>
            </table>
            <br>

            <ul>
                <li>For example, going from main base to Region 1 and surveilling it would cost: <strong>4</strong> (travel cost) + <strong>2</strong> (surveil cost) = <strong>6</strong> fuel units
                <li>You must go back to main base to recharge fuel (you recharge for “free” instantaneously).</li>
                <li>You must go to package center to reload packages (you reload for “free” instantaneously).</li>
            </ul>
            <br>
            <h3>Final Instructions:</h3>
            <p>You will be provided with the information above along with the scenario map in the main chat page (no need to memorize).  Remember, the goal is to form a plan to <span class="red">resolve as many tasks as possible tasks using no more than 30 units of fuel. </span>  Also, you only have <strong>20 minutes</strong> of chatting time with your teammate.  Communicate collaboratively and effectively.  Use proper English. </p>
        </div>
    </div>
    <div class="styledbutton" id="scenariobutton">
        <button id="proceed">Proceed</button>
    </div>
    <div class="proceedWait">
        <p>Once the other user decides to proceed or the timer runs out you will move on to next page.</p>
    </div>
  </body>
</html>