<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <div class="upperheader">
        <h1><%= title %></h1>
    </div>
    <div class="scenariotext">
        <h2>Scenario Description</h2>
        <div class="scenarioinfo">
            <p align="justify">In the nation of Agordo there has been an earthquake coupled with a war.  Several people have been injured due to the earthquake, and  there are areas in need of either surveillance or interception of enemy unmanned aerial vehicles (UAVs). Your job as an emergency responder, with a UAV at your command, is to form a plan to resolve as many as tasks you can under the resource constraint.</p>
            <h3>Goal:</h3>
            <p align="justify">Prioritize and come up with a <span class="red">plan to resolve as many tasks as you can using no more than <strong>30</strong> units of fuel</span> (the order of the tasks is determined by you and your teammate). Discuss and arrive at a plan for what you wish to do in what order. Keep in mind that there is no assurance that those not saved now will be able to be saved later. </p>
            <h3>Tasks (total of 8):</h3>
            <ul>
                <li>Drop medical packages to:
                    <ul>
                        <li>P1: Police - A middle aged man who has valiantly served for 20 years.</li>
                        <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                        <li>P3: Soldier - A man who fights bravely for the nation of Agordo.</li>
                        <li>P4: Mayor - The mayor of Agordo's capital. </li>
                    </ul>
                </li>
                <li>Intercept Enemy UAVs - Enemy Unmanned Aerial Vehicles are preparing to attack innocent civilians
                    <ul>
                        <li>Enemy UAV1</li>
                        <li>Enemy UAV2</li>
                    </ul>
                </li>
                <li>Surveil Regions - Bombs were recently dropped in these regions, surveil to see if there are survivors
                    <ul>
                        <li>Region 1</li>
                        <li>Region 2</li>
                    </ul>
                </li>
            </ul>
            <p align="justify"><!--   There may be patients, places to surveil, and .  Don’t worry; they will be scheduled to be safely transported by the next emergency responder.</p> --></p>

            <br>
            <h3>Scenario Map:</h3>
            <img src="images/map.jpg">

            <h3>Your UAV Information:</h3>
            <table>
                <tr>
                    <td>Fuel Capacity:</td>
                    <td>20 units (initially full)</td>
                </tr>
                <tr>
                    <td>Fuel cost of moving a tile (left, right, up, down):</td>
                    <td>1 unit</td>
                </tr>
                <tr>
                    <td>Fuel cost of surveilling a region:</td>
                    <td>2 units</td>
                </tr>
                <tr>
                    <td>Fuel cost of dropping of a package:</td>
                    <td>1 unit</td>
                </tr>
                <tr>
                    <td>Fuel cost of intercepting an enemy UAV:</td>
                    <td>3 units</td>
                </td>
                <tr>
                    <td>Package Load Capacity:</td>
                    <td>2 packages (starts with 2 on-board)</td>
                </tr>
            </table>
            <br>

            <ul>
                <li>For example, going from main base to Region 1 and surveilling it would cost: <strong>4</strong> (travel cost) + <strong>2</strong> (surveil cost) = <strong>6</strong> fuel units
                <li>You must go back to main base to recharge fuel (you recharge for “free” instantaneously).</li>
                <li>You must go to package center to reload packages (you reload for “free” instantaneously).</li>
            </ul>
            <br>
            <h3>Final Instructions:</h3>
            <p align="justify">You will be provided with the information above along with the scenario map in the main chat page (no need to memorize now).  Remember, the goal is to form a plan to <span class="red">resolve as many tasks as possible tasks using no more than 30 units of fuel. </span>  Also, you only have <strong>20 minutes</strong> of chatting time with your teammate.  Work and communicate effectively with your teammate.  Use proper English. </p>
        </div>
    </div>
    <div class="styledbutton" id="scenariobutton">
        <a href="/loginhome"><button>Proceed</button></a>
    </div>
  </body>
</html>