<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--     <script src="/javascripts/cookies.js"></script>
    <script>
        var currentpage = "submitplan2";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/submitplan.js"></script> -->
    <script src="/javascripts/submitplanform2.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
    </div>
    <div class="timing">
        <p>Time Remaining: <span id="timeleft"></span></p>
    </div>
    <div>
        <table class="plansubmitupper">
            <tr>
                <td class="plansubmitleft">
                    <img src="images/Scenario2Map.jpg">
                </td>
                <td class="plansubmitright infosection">
                    <div class="scenarioinfo" id="messaginginfo">
                        <h3>Table 1: Countermeasure Availability</h3>
                        <table>
                            <tr>
                                <th>Missile Type</th>
                                <th>Total Available</th>
                            </tr>
                            <tr>
                                <td class="left">1. Floating decoy</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td class="left">2. Flares (infrared)</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td class="left">3. Chaff (radar)</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td class="left">4. Laser shots</td>
                                <td>6</td>
                            </tr>
                        </table>
                        <br>
                        <h3>Table 2: Countermeasure Effectiveness</h3>
                        <table>
                            <tr>
                                <th></th>
                                <th colspan="4"><h3>Incoming Missile Type</h4></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Hungry</th>
                                <th>Moth (infrared)</th>
                                <th>Green (radar)</th>
                                <th>Eagle</th>
                            </tr>
                            <tr>
                                <td class="left">1. Floating decoy</td>
                                <td>60%</td>
                                <td>40%</td>
                                <td>30%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td class="left">2. Flares (infrared)</td>
                                <td>70%</td>
                                <td>80%</td>
                                <td>0%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td class="left">3. Chaff (radar)</td>
                                <td>60%</td>
                                <td>0%</td>
                                <td>80%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td  class="left">4. Laser shots</td>
                                <td>70%</td>
                                <td>70%</td>
                                <td>70%</td>
                                <td>30%</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tabe>
    </table>
    <div class="submitinstructions">
        <h3>Instructions:</h3>
        <p>Now you have to report the discussed plan for execution, please use the action template below and create a detailed sequence of your plan. Remember to use the "Go to" command to move between locations.</p>
    </div>
    <table class="plansubmitlower">
        <tr>
            <td class="demoplan">
                <h3>Plan Example:</h3>
                <table class="demotable">
                    <tr>
                        <th>Target</th>
                        <th>Missile</th>
                        <th>Count</th>
                    </tr>
                    <tr>
                        <td>A (Moth)</td>
                        <td>Flare</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>B (Hungry)</td>
                        <td>Laser Shot</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>B (Hungry)</td>
                        <td>Flare</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>C (Hungry)</td>
                        <td>Floating decoy</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>D (Green)</td>
                        <td>Chaff</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>E (Eagle)</td>
                        <td>Laser Shot</td>
                        <td>2</td>
                    </tr>
                </table>
            </td>
            <td class="planside">
                <div class="planblock" id="block1">
                    <h3>A (Moth) Plan: </h3>
                    <div class="planSubmission">
                        <ul class="upperul" id="step1">
                            <li class="upperli"><button><span id="missile1">Missile Type</span> <div class="downarrow">&#10095;</div></button>
                                <ul class="lowerul onecolumn">
                                    <li>Floating Decoy</li>
                                    <li>Flare (infrared)</li>
                                    <li>Chaff (radar)</li>
                                    <li>Laser Shot</li>
                                </ul>
                            </li>
                            <li class="upperli"><button><span id="location1">Number</span><div class="downarrow">&#10095;</div></button>
                                <ul class="lowerul">
                                    <li class="leftcol">1</li>
                                    <li class="leftcol">2</li>
                                    <li class="leftcol">3</li>
                                    <li class="rightcol">4</li>
                                    <li class="rightcol">5</li>
                                    <li class="rightcol">6</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="messageBottom planBlockStep" id="submitsection">
                        <button id="addAction">Add Action</button>
                        <button id="removeAction">Remove Action</button>
                        <button id="submitplan">Submit Plan</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="proceedWait">
        <p>Once the other user submits their plan or the timer runs out you will move on</p>
    </div>

    <div class="buffer"></div>
    
  </body>
</html>