<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--     <script src="/javascripts/cookies.js"></script>
    <script>
        var currentpage = "submitplan1";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/submitplan.js"></script> -->
    <script src="/javascripts/submitplanform1.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
    </div>
    <div class="timing">
        <p>Time Remaining: <span id="timeleft"></span></p>
    </div>
    <div>
        <table class="plansubmitupper">
            <tr>
                <td class="plansubmitleft">
                    <img src="images/map.jpg">
                </td>
                <td class="plansubmitright infosection">
                    <h3><strong>Information:</strong></h3>
                    <table>
                        <tr>
                            <td>Fuel Capacity:</td>
                            <td>20 units (initially full)</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of moving a tile (left, right, up, down):</td>
                            <td>1 unit</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of surveilling a region:</td>
                            <td>2 units</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of dropping of a package:</td>
                            <td>1 unit</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of intercepting an enemy UAV:</td>
                            <td>3 units</td>
                        </td>
                        <tr>
                            <td>Package Load Capacity:</td>
                            <td>2 packages (starts with 2 on-board)</td>
                        </tr>
                        <tr>
                            <td>Must go back to main base to recharge</td>
                            <td>(you recharge for “free” instantaneously)</td>
                        </tr>
                        <tr>
                            <td>Must go to package center to reload packages</td>
                            <td>(you reload for “free” instantaneously)</td>
                        </tr>
                    </table>
                    <h3>Tasks:</h3>
                    <ul>
                        <li>Drop medical packages to:
                            <ul>
                                <li>P1: Police, P2: Climber, P3: Soldier, P4: Mayor </li><!-- - A middle aged man who has valiantly served Agrodo for 20 years.</li>
                                <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                                <li>P3: Soldier - A man who fight bravely for the nation of Agordo to afford to care for his parents.</li>
                                <li>P4: Mayor - The mayor of Agordo's sole city, he has served for two decades.</li> -->
                            </ul>
                        </li>
                        <li>Intercept Enemy UAVs</li>
                        <li>Surveil Regions</li>
                    </ul>
                </td>
<!--                 <td class="plansubmitinstructions">
                </td> -->
            </tr>
        </tabe>
    </table>
    <div class="submitinstructions">
        <h3>Instructions:</h3>
        <p>Now you have to report the discussed plan for execution, please use the action template below and create a detailed sequence of your plan. Remember to use the "Go to" command to move between locations.</p>
    </div>
    <table class="plansubmitlower">
        <tr>
            <td class="demoplan">
                <h3>Plan Example:</h3>
                <table class="demotable">
                    <tr>
                        <th>Step</th>
                        <th>Action</th>
                        <th>Location</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Go to</td>
                        <td>P3</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Drop Package</td>
                        <td>P3</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Go to</td>
                        <td>UAV1</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Intercept</td>
                        <td>UAV1</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Go to</td>
                        <td>Main Base</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Go to</td>
                        <td>UAV2</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>Intercept</td>
                        <td>UAV2</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>Go to</td>
                        <td>P4</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>Drop Package</td>
                        <td>P4</td>
                    </tr>
                </table>
            </td>
            <td class="planside">
                <div class="planSubmission">
                    <ul class="upperul" id="step1">
                        <li class="upperli"><strong>1.</strong><!-- </li>  Only way to get around inherint whitespace in inlineblock html-->
                        <li class="upperli"><button><span id="action1">Action</span> <div class="downarrow">&#10095;</div></button>
                            <ul class="lowerul">
                                <li class="leftcol">Go to</li>
                                <li class="leftcol">Drop Package</li>
                                <li class="rightcol">Surveil</li>
                                <li class="rightcol">Intercept</li>
                            </ul>
                        </li>
                        <li class="upperli"><button><span id="location1">Location</span><div class="downarrow">&#10095;</div></button>
                            <ul class="lowerul">
                                <li class="leftcol">Main Base</li>
                                <li class="leftcol">Package Center</li>
                                <li class="leftcol">P1</li>
                                <li class="leftcol">P2</li>
                                <li class="leftcol">P3</li>
                                <li class="rightcol">P4</li>
                                <li class="rightcol">Region1</li>
                                <li class="rightcol">Region2</li>
                                <li class="rightcol">UAV1</li>
                                <li class="rightcol">UAV2</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="messageBottom" id="submitsection">
                    <button id="addAction">Add Action</button>
                    <button id="removeAction">Remove Action</button>
                    <button id="submitplan">Submit Plan</button>
                </div>
            </td>
        </tr>
    </table>

    <div class="proceedWait">
        <p>Once the other user submits their plan or the timer runs out you will move on</p>
    </div>

    <div class="buffer"></div>
    
  </body>
</html>
