<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/submitplan.js"></script>
  </head>
  <body>

    <div class="loginhome">
        <h1><%= title %></h1>
<!--         <p>You have succesfully joined a chat with <%= user.firstname %>!</p> -->
    </div>
    <div>
        <table class="plansubmitupper">
            <tr>
                <td class="plansubmitleft">
                    <img src="images/map.jpg">
                </td>
                <td class="plansubmitright infosection">
                    <h3><strong>Information:</strong></h3>
                    <table>
                        <tr>
                            <td>Fuel Capacity:</td>
                            <td>20 units (initially full)</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of moving a tile (left, right, up, down):</td>
                            <td>1 unit</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of surveilling a region:</td>
                            <td>2 units</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of dropping of a package:</td>
                            <td>1 unit</td>
                        </tr>
                        <tr>
                            <td>Fuel cost of intercepting an enemy UAV:</td>
                            <td>3 units</td>
                        </td>
                        <tr>
                            <td>Package Load Capacity:</td>
                            <td>2 packages (starts with 2 on-board)</td>
                        </tr>
                        <tr>
                            <td>Must go back to main base to recharge</td>
                            <td>(you recharge for “free” instantaneously)</td>
                        </tr>
                        <tr>
                            <td>Must go to package center to reload packages</td>
                            <td>(you reload for “free” instantaneously)</td>
                        </tr>
                    </table>
                    <h3>Tasks:</h3>
                    <ul>
                        <li>Drop medical packages to:
                            <ul>
                                <li>P1: Police - A middle aged man who has valiantly served Agrodo for 20 years.</li>
                                <li>P2: Climber - A young man whose wife recently had their second baby.</li>
                                <li>P3: Soldier - A man who fight bravely for the nation of Agordo to afford to care for his parents.</li>
                                <li>P4: Mayor - The mayor of Agordo's sole city, he has served for two decades.</li>
                            </ul>
                        </li>
                        <li>Intercept Enemy UAVs</li>
                        <li>Surveil Regions</li>
                    </ul>
                </td>
            </tr>
        </tabe>
    </table>
    <div class="planSubmission">
        <ul class="upperul" id="step1">
            <li class="upperli"><strong>1.</strong><!-- </li>  Only way to get around inherint whitespace in inlineblock html-->
            <li class="upperli"><button><span id="action1">Action</span> <div class="downarrow">&#10095</div></button>
                <ul class="lowerul">
                    <li class="goto">Go to</li>
                    <li class="package">Drop Package</li>
                    <li class="surveil">Surveil</li>
                    <li class="intercept">Intercept</li>
                </ul>
            <!-- </li> -->
            <li class="upperli"><button><span id="location1">Location</span><div class="downarrow">&#10095</div></button>
                <ul class="lowerul">
                    <li class="mb">Main Base</li>
                    <li class="pc">Package Center</li>
                    <li class="p1">P1</li>
                    <li class="p2">P2</li>
                    <li class="p3">P3</li>
                    <li class="p4">P4</li>
                    <li class="r1">Region1</li>
                    <li class="r2">Region2</li>
                    <li class="uav1">UAV1</li>
                    <li class="uav2">UAV2</li>
                </ul>
            <!-- </li> -->
        </ul>
    </div>


    <div class="messageBottom" id="submitsection">
        <button id="addAction">Add Action</button>
        <button id="removeAction">Remove Action</button>
        <button id="submitplan">Submit Plan</button>
    </div>
    <div class="messageBottom" id="beginSurvey">
        <p>Please fill out the post-study survey below.</p>
        <a href="https://goo.gl/forms/UMMX8mKzoNw3wtBc2" target="_blank"><button id="returnHome">Fill out Survey</button></a>
        <p>After completing the survey, please click the pop-out button in the top right corner below to open the payment form in a new tab to print or save. Then please fill it out and click on the button below to email the completed form to <strong>mattwoicik@gmail.com</strong>.</p>
        <a href="mailto:mattwoicik@gmail.com?subject=Payment for Human Subject Testing Form AIMHTPC&body=Here is my Payment for Human Subject Testing Form to receive payment for participation in the AIMHTPC Study" target="_blank"><button>Email Signed Form</button></a>
        <p>Thank you for participating in this study!</p>
    </div>

    <div class="buffer"></div>
    
  </body>
</html>
